$neonPurple: #711c91;
$neonPutpleAlt: #8c1eff;
$neonPink: #ea00d9;
$neonPinkAlt: #f222ff;
$neonMagenta: #FF00AA;
$neonRed: #ff2975;
$neonRedAlt: #D95964;
$neonCyan: #0abdc6;
$neonCyanAlt: #14C5CC;
$neonBlue: #133e7c;
$neonYellow: #ffd319;
$neonOrange: #ff901f;
$neonGreen: #5DD959;

body {
    background-color: $neonGreen;
}